<h2 class="page-header"><%= book.title  %> </h2>
<div class="book-show">
    <div class="book-image">
        <img class="cover-image" src="<%= book.coverImagePath  %>" alt="" width="100" height="150">
    </div>
    <div class="description">
        <div class="desc-item"> <strong>Author: </strong> <%= book.author.name  %> </div>
        <div class="desc-item"><strong>
                Publish date:
            </strong><%= book.publishDate.toDateString()  %> </div>
        <div class="desc-item"><strong>Page Count: </strong> <%= book.pageCount %> </div>
        <div class="desc-item"><strong> Description: </strong><%= book.description %> </div>
    </div>
</div>


<div class="button-row form-row form-row-end">
    <a class="btn btn-primary" href="/book/<%= book.id %>/edit">Edit</a>
    <%- include('../parcels/_delete-form',{url:`/book/${book.id}`}) %>
    <a class="btn btn-primary" href="/authors/<%= book.author.id %>">View Author</a>
</div>